.wraper--layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainbody {
  flex: 1;
  overflow: hidden;
}

body {
  background: rgb(243, 243, 246);
  color: $text-color-primary;
  font-size: $fz-primary;
  font-family: "Public Sans", "Roboto", sans-serif;
}

.navbar {
  padding: 0px;
  background-color: white;
  box-shadow: $box-shadow;
  justify-content: flex-start;
  z-index: 999;
  .navbar-brand {
    background-color: #fff;
    margin-right: 0px;
    width: $first-menu-width;
    min-width: $first-menu-width;
  }
  .navbar-menu {
    width: 100%;
  }
  .navbar-item {
    padding: 0px 8px;
    font-size: 12px;
    height: 100%;
    @extend .box-sizing;
    @extend .pointer;
    .text {
      padding: 4px 0px 0px;
      @extend .box-sizing;
    }
    .time-expire {
      @extend .co-default;
    }
  }
  .navbar__lists {
    margin-top: 2px;
    li {
      margin-right: 20px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 500;
      position: relative;
      a {
        span {
          display: block;
          padding-bottom: 7px;
        }
        &:hover {
          &::after {
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background: var(--sidebar-bg);
          }
        }
      }

      &.active {
        font-weight: 600;
        a::after {
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background: var(--sidebar-bg);
        }
      }
    }
  }
  .user {
    font-size: 14px;
    height: 100%;
    padding: 0px 10px;
    @extend .user-select;
    @extend .pointer;
    &:hover {
      @extend .hover-default;
      .list-item-user {
        display: block;
      }
    }
    .list-item-user {
      overflow: hidden;
      display: none;
      width: 170px;
      height: auto;
      z-index: 999;
      top: 50px;
      right: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background: #fff;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
      li {
        cursor: pointer;
        color: #555;
        font-size: 14px;
        line-height: 2.5;
        padding: 0px 15px;
        &:hover {
          @extend .hover-default;
        }
      }
    }
  }
  & > div {
    height: $navbar-height;
  }
}

.sidebar-width {
  width: $sidebar-width;
  min-width: $sidebar-width;
}

#logo {
  // background-image: url('/assets/site/theme/images/logo.png');
  // background-repeat: no-repeat;
  // width: 60px;
  // height: 60px;
  // background-size: cover;
  // align-self: center;
}

.icon {
  font-size: 20px;
  height: 100%;
  padding: 4px 20px;
  @extend .box-sizing;
  @extend .user-select;
  @extend .pointer;
  &:hover {
    @extend .hover-default;
  }
}

.sidebar {
  float: left;
  font-size: $fz-primary;

  .sidebar-style {
    height: 100%;
    background: var(--sidebar-bg);
  }
  .first-sidemenu {
    width: $first-menu-width;
    min-width: $first-menu-width;
    height: 100%;
    color: white;
    li {
      position: relative;
      &:hover .sidebar-menu-open {
        display: block !important;
      }
    }
    .sidebar-item {
      width: 100%;
      padding: 20px 0px;
      box-sizing: border-box;
      user-select: none;
      text-align: center;
      display: inline-block;
      border-radius: 5px;
      @extend .pointer;
      i {
        font-size: 18px;
      }
      div {
        margin-top: 5px;
      }
      &.active {
        @extend .hover-default;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .second-sidemenu {
    width: $second-menu-width;
    min-width: $second-menu-width;
    height: 100%;
    color: var(--text-color-desc-2);
    .slide-item {
      display: flex;
      align-items: center;
      padding: 7px;
      font-size: 14px;
      border-bottom: 0;
    }

    .sidemenu__style {
      padding: 0px 10px;
    }

    .welcome__block__search__input {
      font-size: 14px;
      padding: 8px 20px 8px 35px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 15px;
    }

    .welcome__block__search__icon {
      font-size: 14px;
    }
  }

  .aside__lists__menu {
    padding: 15px 10px;
    .menu__block {
      margin: 15px 0px;
    }
    .menu__title {
      @extend .color-text-grey;
      font-size: 13px;
      text-transform: uppercase;
    }
    .menu__item {
      padding: 6px 5px 6px 0px;
      transition: 0.3s;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      ul {
        padding-left: 20px;
        li {
          list-style-type: disc;
        }
      }
    }

    .menu__list {
      margin: 5px 0px 30px;
      color: var(--text-color-desc-2);
      font-size: 15px;
    }
  }

  .sidebar-menu-open {
    position: absolute;
    left: $first-menu-width;
    top: 0;
    height: auto;
    display: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 99999;
    width: 235px;
    background: #407b5a;
    box-shadow: 3px 0 20px -3px rgba(0, 0, 0, 0.5);
    .menu-open__header {
      padding: 15px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .menu-open__body {
      color: #f1f1f1;
      padding: 10px 20px;
      box-sizing: border-box;
      li {
        padding: 5px 0px;
        i {
          margin-right: 8px;
        }
        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  .tab-menu-content {
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
  }
}

main {
  display: flex;
  flex-direction: row;
}

.main {
  width: calc(100% - #{$sidebar-width});
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
}

.app-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  .section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .main-body {
    height: 100%;
  }
  .card--custom {
    min-height: 550px;
    max-height: 550px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .card-body {
      flex: 1;
      overflow: auto;
    }
  }
  .card-header {
    img {
      width: 100%;
      height: 220px;
      margin: 0 auto;
      max-height: 200px;
    }
  }
}

.card {
  border: 0 solid #f6f6f6;
  .bg-soft-primary {
    background: rgba(85, 110, 230, 0.25) !important;
  }

  .card-title {
    margin: 0;
  }

  .card-header {
    display: flex;
    align-items: center;
    background: white;
  }

  .title {
    @extend .co-purple;
  }
  &.card--block-1 {
    .profile-user-wid {
      margin-top: -30px;
      width: 72px;
      height: 72px;
    }
  }

  .mini-stat-icon {
    width: 40px;
    height: 40px;
  }

  .avatar-title {
    align-items: center;
    background-color: #556ee6;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}

.page__title {
  font-size: 20px;
  font-weight: 600;
}

.activity-feed {
  padding: 15px 15px 0 15px;
  .feed-item {
    position: relative;
    padding-bottom: 29px;
    padding-left: 30px;
    border-left: 2px solid #e9ecef;
    &:last-child {
      border-left: none;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -4px;
      left: -9px;
      width: 16px;
      height: 16px;
      border-radius: 30px;
      background: $primary-color;
    }
    .date,
    .name {
      display: block;
      position: relative;
      top: -5px;
      color: #8c96a3;
      text-transform: uppercase;
      font-size: 13px;
    }

    .name {
      color: #696969;
      margin-right: 5px;
      font-weight: 600;
    }
    .activity-text {
      position: relative;
      top: -3px;
    }
  }
}

.invalid {
  border: 1px solid red;
}

.badge {
  padding: 5px;
}

.form-control[readonly],
.form-control:disabled {
  background: #f2f3f8 !important;
}

.fa-trash-alt {
  &:hover {
    color: red;
    cursor: pointer;
  }
}

.color-text-primary {
  color: var(--sidebar-bg);
}

.color-text-grey {
  color: var(--text-color-desc);
}

.profile__info {
  font-family: "Roboto", sans-serif;
}

.profile__avatar {
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
  }

  &--sm {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
  }
}
