.search-filter,
.base-table--data {
  .title-step {
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    color: #795548;
  }
  .filter-area {
    overflow: hidden;
    border-radius: 5px;
  }
  .filter-item {
    background-color: #fff;
    min-height: 220px;
    max-height: 245px;
    display: flex;
    flex-direction: column;
    border-right: 1px dashed #ccc;
    &:last-child {
      border-right: none;
    }

    li {
      label {
        margin-left: 7px;
      }
    }
    .title {
      line-height: 24px;
      font-size: 12px;
      color: #4b4f56;
      text-transform: uppercase;
      font-weight: 600;
      padding: 8px;
      background: linear-gradient(#eeeeef 50%, #e9e9e9 0);
      border-bottom: 0;
    }
    .item-search {
      padding: 5px;
      overflow: auto;
      height: 100%;
    }
    .item-search-ship {
      .checkbox_acount {
        width: 100%;
      }
    }

    .checkbox_acount {
      .label-checkbox {
        &:hover {
          color: $primary-color;
        }
        user-select: none;
      }
    }
    .item-filter-radio {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        position: relative;
        padding: 4px;
        padding-left: 20px;
      }
    }
    input[type="checkbox"],
    input.custom-css {
      position: absolute;
      margin-left: -20px;
      height: 24px;
      font-size: 12px;
      display: none;
    }

    input[type="checkbox"]:checked + label:after,
    input.custom-css:checked + label:after {
      content: "\F00C";
      display: inline-block;
      font-size: 12px;
      font-family: Font awesome\5 Pro;
      color: #3cbcb3;
      position: absolute;
      top: 9px;
      left: 5px;
    }
  }

  .item-phone-exist {
    &:hover {
      .list-phone-exist {
        display: block;
      }
    }
  }

  .list-phone-exist {
    top: 22px;
    right: -80px;
    width: 200px;
    max-height: 200px;
    overflow: auto;
    display: none;
    height: auto;
    z-index: 999;
    color: #555;
    border-radius: 5px;
    padding: 10px 0px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    li {
      cursor: pointer;
      color: #555;
      line-height: 2.1;
      padding: 5px 15px;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 4.2em;
      line-height: 2.1em;
      &:hover {
        @extend .hover-default;
      }
    }
    .title {
      color: red;
      line-height: 2.1;
      padding: 5px 15px;
    }
  }

  .list-item-order {
    input[type="checkbox"]:checked + label:after {
      content: "\F00C";
      display: inline-block;
      font-size: 12px;
      font-family: Font awesome\5 Pro;
      color: #3cbcb3;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .label-checkbox {
    cursor: pointer;
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 0;
    &::before {
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid #b5b5b5;
      content: "";
      position: absolute;
      left: 3px;
      top: 15px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .base-table-item--checkbox {
    &::before {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.list-source {
  background: linear-gradient(#eeeeef 50%, #e9e9e9 0);
  color: rgb(51, 51, 51);
  font-size: 13px;
  .list-source--item {
    a {
      display: block;
      padding: 9px 20px;
      box-sizing: border-box;
    }
    i {
      margin-right: 5px;
    }
    &.active {
      background: #fff;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
}

.base-table-layout {
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  box-sizing: border-box;
  height: 100%;
  &.border-top {
    border-top: 1px solid #ddd;
  }
  .base-table--filter {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  .panel-heading-left {
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    &:last-child {
      border-right: none;
    }
  }

  .search {
    padding: 0px 10px;
    height: 30px;
  }
  .assign-order--layout {
    top: 37px;
    left: 0;
    @extend .parent-list-dropdown;
    .list {
      @extend .list-menu-dropdown;
    }
  }
}

.base-table {
  @extend .shadow;
}

.parent-list-dropdown {
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  z-index: 99;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.list-menu-dropdown {
  width: 100%;
  height: auto;
  max-height: 300px;
  z-index: 999;
  overflow-y: auto;
  li {
    padding: 8px 10px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    display: list-item;
    &:hover {
      background: rgba(0, 0, 0, 0.075);
    }
    .icon-check {
      display: none;
    }
  }
  li[data-selected="true"] .icon-check {
    display: block;
  }
}

.base-table--data {
  tr {
    th {
      border-bottom: 1px solid #dde1e3;
      background: #fbfbfb;
      overflow: initial;
      padding: 6px 10px;
      &:first-child {
        border: none;
        width: 70px;
      }
    }
    th,
    td {
      font-size: 13px;
      line-height: 19px;
      white-space: nowrap;
      color: #666;
      position: relative !important;
      font-weight: 500;
      border-left: 1px solid #dde1e3;
    }

    td {
      padding: 10px;
      border-top: 1px solid #dde1e3;
      box-sizing: border-box;
      &:first-child {
        border-left: none;
        width: 70px;
        min-width: 70px;
      }
    }

    .merge {
      th {
        border-left: 1px solid #dde1e3;
      }
    }
    &:last-child {
      border-bottom: 1px solid #dde1e3;
    }
    .user--reciver {
      font-size: 10px;
      padding: 1px 4px;
      background: #407b5a;
      color: white;
      border-radius: 5px;
    }
    &[data-selected="true"] {
      background: antiquewhite;
    }
  }
  .sub-header {
    th {
      padding: 10px;
    }
  }
}

.paginate {
  padding: 12px 9px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  .pagination {
    justify-content: flex-end;
  }
}

.shadow {
  box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
}

.input-control {
  font-size: 13px;
  line-height: 1.53846;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 7px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  border-radius: 3px;
  width: 100%;
}

///////// DETAIL

.order-detail--item {
  display: flex;
  flex-direction: column;
  border-right: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  &:last-child {
    border-right: none;
  }
}
.order-detail__title {
  line-height: 24px;
  font-size: 13px;
  color: #4b4f56;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeef), color-stop(0, #e9e9e9));
  background: linear-gradient(#eeeeef 50%, #e9e9e9 0);
  border-bottom: 0;
}

.order-detail__body {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.order-detail__custom {
  .list-source--item:first-child.active {
    border-left: none !important;
  }
}

.order-detail__body {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  input.form-control,
  textarea.form-control,
  select.form-control {
    background: #fcfcfc;
    font-size: 15px;
    outline: none;
  }

  .option-status-order {
    border-radius: 5px;
  }
  .feed-item-list {
    .name {
      font-size: 12px;
    }

    .date {
      font-size: 12px;
    }
  }
  .feed-item {
    &:last-child {
      border: none;
    }
    border-width: 1px;
  }
  .option__item {
    padding: 6px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-align: center;
    &.cancel {
      background-color: #fd3550;
    }

    &.wait {
      background-color: #ff9700;
    }

    &.success {
      background-color: #15ca20;
    }
  }

  .form-group {
    color: rgba(0, 0, 0, 0.62);
  }
}

.ship {
  .form-group {
    margin-bottom: 0.5rem;
  }
  .form-control {
    font-size: 12px;
  }
  td {
    text-align: left;
    padding: 8px 5px;
    font-size: 15px;
  }
  .input-group-text {
    width: 150px;
  }
  .list--filter-search {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 99;
    ul {
      width: 100%;
      min-height: 300px;
      height: 300px;
      overflow-y: auto;
      li {
        padding: 8px 10px;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        user-select: none;
        cursor: pointer;
        display: list-item;
        &:hover {
          background: rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}

.table-proccessing {
  background: #d1ecf1;
}

.reason-style {
  padding: 3px 7px;
  border-radius: 15px;
  font-size: 12px;
}

.text-bold {
  font-weight: 600;
}

.row--custom {
  padding: 0px 15px;
}

.col--custom {
  padding: 0px;
}

.border {
  border: 1px solid #ddd;
}

.order-list__grid {
  .order-list__columns {
    min-width: 260px;
    max-width: 260px;
    padding: 0px;
    &:last-child {
      border-right: 1px solid #ddd;
    }
  }

  .order-list__head {
    padding: 8px 10px;
  }
  .order-list__head {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
    // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .order-list__body {
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }

  .order-list__item {
    padding: 10px 18px;
    border: 1px solid #ddd;
    border-bottom: none;
    border-right: none;
    &:hover {
      .order-list__item__title {
        color: #0084d1 !important;
        text-decoration: underline;
      }
    }

    &.warning {
      background: #fff3cd;
    }
  }

  .order-list__item__desc {
    margin: 8px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .title {
    font-weight: 500;
  }

  .progress {
    background-color: #cfcbcb;
    height: 5px;

    &--danger {
      --ms-progress-bg: #ca4443;
    }
    &--success {
      --ms-progress-bg: #4caf50;
    }

    &-bar {
      background-color: var(--ms-progress-bg);
    }
  }
}

.badget {
  border-radius: 20px;
  padding: 2px 6px;
  display: inline-block;
  font-size: 12px;
  &--danger {
    background: red;
    color: #fff;
  }
  &--warning {
    background: #fff3cd;
    color: #856404;
  }
}
