/*!
* Notiflix ('https://www.notiflix.com')
* Version: 2.1.2 
* Author: Furkan MT ('https://github.com/furcan')
* Copyright 2020 Notiflix, MIT Licence ('https://opensource.org/licenses/MIT')
*/

/* Notiflix: Notify wrap on */
[id^=NotiflixNotifyWrap] {
position: fixed;
z-index:4001;
opacity:1;
right: 10px;
top: 10px;
width: 280px;
max-width:96%;
box-sizing:border-box;
background: transparent;}

[id^=NotiflixNotifyWrap] * {
box-sizing:border-box;}
/* Notiflix: Notify wrap off */

/* Notiflix: Notify content on */
[id^=NotiflixNotifyWrap] > div {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-family: 'Quicksand', sans-serif;
width:100%;
display: inline-block;
position:relative;
margin:0 0 10px;
border-radius:5px;
background: #1e1e1e;
color: #fff;
padding: 10px 12px;
font-size: 14px;
line-height: 1.4;}

[id^=NotiflixNotifyWrap] > div:last-child {
margin:0;}

[id^=NotiflixNotifyWrap] > div.with-callback {
cursor:pointer;}

[id^=NotiflixNotifyWrap] *::-moz-selection {
background:inherit;}

[id^=NotiflixNotifyWrap] *::selection {
background:inherit;}

[id^=NotiflixNotifyWrap] > div.with-icon {
padding: 8px;}

[id^=NotiflixNotifyWrap] > div.click-to-close {
cursor: pointer;}

[id^=NotiflixNotifyWrap] > div.with-close-button {
padding: 10px 30px 10px 12px;}
[id^=NotiflixNotifyWrap] > div.with-icon.with-close-button {
padding: 6px 30px 6px 6px;}

[id^=NotiflixNotifyWrap] > div > span.the-message {
font-weight: 500;
font-family:inherit !important;
word-break: break-all;
word-break: break-word;}

[id^=NotiflixNotifyWrap] > div > span.notify-close-button {
cursor:pointer;
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
position: absolute;
right: 8px;
top: 0;
bottom:0;
margin:auto;
color:inherit;
width: 16px;
height: 16px;}
[id^=NotiflixNotifyWrap] > div > span.notify-close-button:hover {
-webkit-transform:rotate(90deg);
        transform:rotate(90deg);}
[id^=NotiflixNotifyWrap] > div > span.notify-close-button > svg {
position: absolute;
width: 16px;
height: 16px;
right: 0;
top: 0;}
/* Notiflix: Notify content off */

/* Notiflix: Notify icon on */
[id^=NotiflixNotifyWrap] > div > .nmi {
position: absolute;
width: 40px;
height: 40px;
font-size: 30px;
line-height: 40px;
text-align: center;
left: 8px;
top: 0;
bottom: 0;
margin: auto;
border-radius: inherit;}

[id^=NotiflixNotifyWrap] > div > .wfa.shadow {
color: inherit;
background: rgba(0, 0, 0, 0.15);
box-shadow: inset 0 0 34px rgba(0, 0, 0, 0.2);
text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);}

[id^=NotiflixNotifyWrap] > div > span.with-icon {
position: relative;
float: left;
width: calc(100% - 40px);
margin:0 0 0 40px;
padding:0 0 0 10px;
box-sizing: border-box;}
/* Notiflix: Notify icon off */

/* Notiflix: Notify rtl on */
[id^=NotiflixNotifyWrap] > div.rtl-on > .nmi {
left:auto;
right:8px;}

[id^=NotiflixNotifyWrap] > div.rtl-on > span.with-icon {
padding:0 10px 0 0;
margin:0 40px 0 0;}

[id^=NotiflixNotifyWrap] > div.rtl-on > span.notify-close-button {
right: auto;
left: 8px;}

[id^=NotiflixNotifyWrap] > div.with-icon.with-close-button.rtl-on {
padding: 6px 6px 6px 30px;}

[id^=NotiflixNotifyWrap] > div.with-close-button.rtl-on {
padding: 10px 12px 10px 30px;}
/* Notiflix: Notify rtl off */

/* Notiflix: Notify animation => fade on */
[id^=NotiflixNotifyOverlay].with-animation,
[id^=NotiflixNotifyWrap] > div.with-animation.nx-fade {
animation: notify-animation-fade .3s ease-in-out 0s normal;
-webkit-animation: notify-animation-fade .3s ease-in-out 0s normal;}

@keyframes notify-animation-fade {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes notify-animation-fade {
0% {opacity:0;}
100% {opacity:1;}
}
/* Notiflix: Notify animation => fade off */

/* Notiflix: Notify animation => zoom on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-zoom {
animation: notify-animation-zoom .3s ease-in-out 0s normal;
-webkit-animation: notify-animation-zoom .3s ease-in-out 0s normal;}

@keyframes notify-animation-zoom {
0% {-webkit-transform:scale(0);transform:scale(0);}
50% {-webkit-transform:scale(1.05);transform:scale(1.05);}
100% {-webkit-transform:scale(1);transform:scale(1);}
}

@-webkit-keyframes notify-animation-zoom {
0% {-webkit-transform:scale(0);transform:scale(0);}
50% {-webkit-transform:scale(1.05);transform:scale(1.05);}
100% {-webkit-transform:scale(1);transform:scale(1);}
}
/* Notiflix: Notify animation => zoom off */

/* Notiflix: Notify animation => from right on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-from-right {
animation: notify-animation-from-right .3s ease-in-out 0s normal;
-webkit-animation: notify-animation-from-right .3s ease-in-out 0s normal;}

@keyframes notify-animation-from-right {
0% {right:-300px; opacity:0;}
50% {right:8px; opacity:1;}
100% {right:0px; opacity:1;}
}

@-webkit-keyframes notify-animation-from-right {
0% {right:-300px; opacity:0;}
50% {right:8px; opacity:1;}
100% {right:0px; opacity:1;}
}
/* Notiflix: Notify animation => from right off */

/* Notiflix: Notify animation => from left on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-from-left {
animation: notify-animation-from-left .3s ease-in-out 0s normal;
-webkit-animation: notify-animation-from-left .3s ease-in-out 0s normal;}

@keyframes notify-animation-from-left {
0% {left:-300px; opacity:0;}
50% {left:8px; opacity:1;}
100% {left:0px; opacity:1;}
}

@-webkit-keyframes notify-animation-from-left {
0% {left:-300px; opacity:0;}
50% {left:8px; opacity:1;}
100% {left:0px; opacity:1;}
}
/* Notiflix: Notify animation => from left off */

/* Notiflix: Notify animation => from top on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-from-top {
animation: notify-animation-from-top .3s ease-in-out 0s normal;
-webkit-animation: notify-animation-from-top .3s ease-in-out 0s normal;}

@keyframes notify-animation-from-top {
0% {top:-50px; opacity:0;}
50% {top:8px; opacity:1;}
100% {top:0px; opacity:1;}
}

@-webkit-keyframes notify-animation-from-top {
0% {top:-50px; opacity:0;}
50% {top:8px; opacity:1;}
100% {top:0px; opacity:1;}
}
/* Notiflix: Notify animation => from top off */

/* Notiflix: Notify animation => from bottom on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-from-bottom {
animation: notify-animation-from-bottom .3s ease-in-out 0s normal;
-webkit-animation: notify-animation-from-bottom .3s ease-in-out 0s normal;}

@keyframes notify-animation-from-bottom {
0% {bottom:-50px; opacity:0;}
50% {bottom:8px; opacity:1;}
100% {bottom:0px; opacity:1;}
}

@-webkit-keyframes notify-animation-from-bottom {
0% {bottom:-50px; opacity:0;}
50% {bottom:8px; opacity:1;}
100% {bottom:0px; opacity:1;}
}
/* Notiflix: Notify animation => from bottom off */

/* Notiflix: Notify animation remove => fade on */
[id^=NotiflixNotifyOverlay].with-animation.remove,
[id^=NotiflixNotifyWrap] > div.with-animation.nx-fade.remove {
opacity:0;
animation: notify-remove-fade .3s ease-in-out 0s normal;
-webkit-animation: notify-remove-fade .3s ease-in-out 0s normal;}

@keyframes notify-remove-fade {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes notify-remove-fade {
0% {opacity:1;}
100% {opacity:0;}
}
/* Notiflix: Notify animation remove => fade off */

/* Notiflix: Notify animation remove => zoom on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-zoom.remove {
-webkit-transform:scale(0);
        transform:scale(0);
animation: notify-remove-zoom .3s ease-in-out 0s normal;
-webkit-animation: notify-remove-zoom .3s ease-in-out 0s normal;}

@keyframes notify-remove-zoom {
0% {-webkit-transform:scale(1);transform:scale(1);}
50% {-webkit-transform:scale(1.05);transform:scale(1.05);}
100% {-webkit-transform:scale(0);transform:scale(0);}
}

@-webkit-keyframes notify-remove-zoom {
0% {-webkit-transform:scale(1);transform:scale(1);}
50% {-webkit-transform:scale(1.05);transform:scale(1.05);}
100% {-webkit-transform:scale(0);transform:scale(0);}
}
/* Notiflix: Notify animation remove => zoom off */

/* Notiflix: Notify animation remove => from top on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-from-top.remove {
opacity:0;
animation: notify-remove-to-top .3s ease-in-out 0s normal;
-webkit-animation: notify-remove-to-top .3s ease-in-out 0s normal;}

@keyframes notify-remove-to-top {
0% {top:0px; opacity:1;}
50% {top:8px; opacity:1;}
100% {top:-50px; opacity:0;}
}

@-webkit-keyframes notify-remove-to-top {
0% {top:0px; opacity:1;}
50% {top:8px; opacity:1;}
100% {top:-50px; opacity:0;}
}
/* Notiflix: Notify animation remove => from top off */

/* Notiflix: Notify animation remove => from right on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-from-right.remove {
opacity:0;
animation: notify-remove-to-right .3s ease-in-out 0s normal;
-webkit-animation: notify-remove-to-right .3s ease-in-out 0s normal;}

@keyframes notify-remove-to-right {
0% {right:0px; opacity:1;}
50% {right:8px; opacity:1;}
100% {right:-300px; opacity:0;}
}

@-webkit-keyframes notify-remove-to-right {
0% {right:0px; opacity:1;}
50% {right:8px; opacity:1;}
100% {right:-300px; opacity:0;}
}
/* Notiflix: Notify animation remove => from right off */

/* Notiflix: Notify animation remove => from bottom on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-from-bottom.remove {
opacity:0;
animation: notify-remove-to-bottom .3s ease-in-out 0s normal;
-webkit-animation: notify-remove-to-bottom .3s ease-in-out 0s normal;}

@keyframes notify-remove-to-bottom {
0% {bottom:0px; opacity:1;}
50% {bottom:8px; opacity:1;}
100% {bottom:-50px; opacity:0;}
}

@-webkit-keyframes notify-remove-to-bottom {
0% {bottom:0px; opacity:1;}
50% {bottom:8px; opacity:1;}
100% {bottom:-50px; opacity:0;}
}
/* Notiflix: Notify animation remove => from bottom off */

/* Notiflix: Notify animation remove => from left on */
[id^=NotiflixNotifyWrap] > div.with-animation.nx-from-left.remove {
opacity:0;
animation: notify-remove-to-left .3s ease-in-out 0s normal;
-webkit-animation: notify-remove-to-left .3s ease-in-out 0s normal;}

@keyframes notify-remove-to-left {
0% {left:0px; opacity:1;}
50% {left:8px; opacity:1;}
100% {left:-300px; opacity:0;}
}

@-webkit-keyframes notify-remove-to-left {
0% {left:0px; opacity:1;}
50% {left:8px; opacity:1;}
100% {left:-300px; opacity:0;}
}
/* Notiflix: Notify animation remove => from left off */


/* Notiflix: Report wrap on */
[id^=NotiflixReportWrap] {
position: fixed;
z-index:4002;
width: 320px;
max-width:96%;
box-sizing:border-box;
font-family: "Quicksand", sans-serif;
left: 0;
right: 0;
top: 20px;
color:#1e1e1e;
border-radius: 25px;
background: transparent;
margin: auto;}

[id^=NotiflixReportWrap] * {
box-sizing:border-box;}
/* Notiflix: Report wrap off */

/* Notiflix: Report content on */
[id^=NotiflixReportWrap] > div[class*="-overlay"] {
width:100%;
height:100%;
left:0;
top:0;
background: rgba(255, 255, 255, .5);
position:fixed;
z-index:0;}

[id^=NotiflixReportWrap] > div[class*="-content"] {
width:100%;
float:left;
border-radius: inherit;
padding:10px;
-webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,.1));
        filter: drop-shadow(0 0 5px rgba(0,0,0,.1));
border: 1px solid rgba(0,0,0,.03);
background: #f8f8f8;
position:relative;
z-index:1;}

[id^=NotiflixReportWrap] > div[class*="-content"] > div[class$="-icon"] {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width:110px;
height:110px;
display:block;
margin:6px auto 12px;}

[id^=NotiflixReportWrap] > div[class*="-content"] > div[class$="-icon"] svg {
min-width:100%;
max-width:100%;
height:auto;}

[id^=NotiflixReportWrap] > * > h5 {
word-break: break-all;
word-break: break-word;
font-family:inherit !important;
font-size:16px;
font-weight:500;
line-height: 1.4;
margin: 0 0 10px;
padding: 0 0 10px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
float: left;
width: 100%;
text-align: center;}

[id^=NotiflixReportWrap] > * > p {
word-break: break-all;
word-break: break-word;
font-family:inherit !important;
font-size:13px;
line-height: 1.4;
float: left;
width: 100%;
padding:0 10px;
margin: 0 0 10px;}

[id^=NotiflixReportWrap] a#NXReportButton {
word-break: break-all;
word-break: break-word;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-family:inherit !important;
-webkit-transition:all .25s ease-in-out;
transition:all .25s ease-in-out;
cursor:pointer;
float: right;
padding: 7px 17px;
background: #32c682;
font-size:14px;
line-height: 1.4;
font-weight: 500;
border-radius: inherit !important;
color: #fff;}

[id^=NotiflixReportWrap] a#NXReportButton:hover {
box-shadow:inset 0 -60px 5px -5px rgba(0, 0, 0, 0.25);}

[id^=NotiflixReportWrap].rtl-on a#NXReportButton {
float:left;}
/* Notiflix: Report content off */

/* Notiflix: Report overlay animation => fade on */
[id^=NotiflixReportWrap] > div[class*="-overlay"].with-animation {
animation: report-overlay-animation .3s ease-in-out 0s normal;
-webkit-animation: report-overlay-animation .3s ease-in-out 0s normal;}

@keyframes report-overlay-animation {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes report-overlay-animation {
0% {opacity:0;}
100% {opacity:1;}
}
/* Notiflix: Report overlay animation => fade off */

/* Notiflix: Report content animation => fade on */
[id^=NotiflixReportWrap] > div[class*="-content"].with-animation.nx-fade {
animation: report-animation-fade .3s ease-in-out 0s normal;
-webkit-animation: report-animation-fade .3s ease-in-out 0s normal;}

@keyframes report-animation-fade {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes report-animation-fade {
0% {opacity:0;}
100% {opacity:1;}
}
/* Notiflix: Report content animation => fade off */

/* Notiflix: Report content animation => zoom on */
[id^=NotiflixReportWrap] > div[class*="-content"].with-animation.nx-zoom {
animation: report-animation-zoom .3s ease-in-out 0s normal;
-webkit-animation: report-animation-zoom .3s ease-in-out 0s normal;}

@keyframes report-animation-zoom {
0% {opacity:0; -webkit-transform:scale(0.5); transform:scale(0.5);}
50% {opacity:1; -webkit-transform:scale(1.05); transform:scale(1.05);}
100% {opacity:1; -webkit-transform:scale(1); transform:scale(1);}
}

@-webkit-keyframes report-animation-zoom {
0% {opacity:0; -webkit-transform:scale(0.5); transform:scale(0.5);}
50% {opacity:1; -webkit-transform:scale(1.05); transform:scale(1.05);}
100% {opacity:1; -webkit-transform:scale(1); transform:scale(1);}
}
/* Notiflix: Report content animation => zoom off */

/* Notiflix: Report overlay animation remove => fade on */
[id^=NotiflixReportWrap].remove > div[class*="-overlay"].with-animation {
opacity:0;
animation: report-overlay-animation-remove .3s ease-in-out 0s normal;
-webkit-animation: report-overlay-animation-remove .3s ease-in-out 0s normal;}

@keyframes report-overlay-animation-remove {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes report-overlay-animation-remove {
0% {opacity:1;}
100% {opacity:0;}
}
/* Notiflix: Report overlay animation remove => fade off */

/* Notiflix: Report content animation remove => fade on */
[id^=NotiflixReportWrap].remove > div[class*="-content"].with-animation.nx-fade {
opacity:0;
animation: report-animation-fade-remove .3s ease-in-out 0s normal;
-webkit-animation: report-animation-fade-remove .3s ease-in-out 0s normal;}

@keyframes report-animation-fade-remove {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes report-animation-fade-remove {
0% {opacity:1;}
100% {opacity:0;}
}
/* Notiflix: Report content animation remove => fade off */

/* Notiflix: Report content animation remove => zoom on */
[id^=NotiflixReportWrap].remove > div[class*="-content"].with-animation.nx-zoom {
opacity:0;
animation: report-animation-zoom-remove .3s ease-in-out 0s normal;
-webkit-animation: report-animation-zoom-remove .3s ease-in-out 0s normal;}

@keyframes report-animation-zoom-remove {
0% {opacity:1; -webkit-transform:scale(1); transform:scale(1);}
50% {opacity:0.5; -webkit-transform:scale(1.05); transform:scale(1.05);}
100% {opacity:0; -webkit-transform:scale(0); transform:scale(0);}
}

@-webkit-keyframes report-animation-zoom-remove {
0% {opacity:1; -webkit-transform:scale(1); transform:scale(1);}
50% {opacity:0.5; -webkit-transform:scale(1.05); transform:scale(1.05);}
100% {opacity:0; -webkit-transform:scale(0); transform:scale(0);}
}
/* Notiflix: Report content animation remove => zoom off */


/* Notiflix: Confirm wrap on */
[id^=NotiflixConfirmWrap] {
position: fixed;
z-index: 4003;
width: 300px;
max-width:98%;
left: 10px;
right: 10px;
top: 10px;
margin:auto;
text-align: center;
box-sizing:border-box;
background:transparent;
font-family: "Quicksand", sans-serif;}

[id^=NotiflixConfirmWrap] * {
box-sizing:border-box;}
/* Notiflix: Confirm wrap off */

/* Notiflix: Confirm content on */
[id^=NotiflixConfirmWrap] > div[class*="-overlay"] {
width:100%;
height:100%;
left:0;
top:0;
background: rgba(255, 255, 255, .5);
position:fixed;
z-index:0;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] {
width:100%;
float:left;
border-radius: 25px;
padding:10px;
margin:0;
-webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,.1));
        filter: drop-shadow(0 0 5px rgba(0,0,0,.1));
background: #f8f8f8;
color:#1e1e1e;
position:relative;
z-index:1;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-head"] {
float:left;
width:100%;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-head"] > h5 {
float:left;
width:100%;
margin:0;
padding:0 0 10px;
border-bottom:1px solid rgba(0,0,0,0.1);
color: #32c682;
font-family:inherit !important;
font-size:16px;
line-height:1.4;
font-weight:500;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-head"] > p {
font-family:inherit !important;
margin: 15px 0 20px;
padding: 0 10px;
float:left;
width:100%;
font-size: 14px;
line-height: 1.4;
color: inherit;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-buttons"] {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border-radius:inherit;
float:left;
width:100%;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-buttons"] > a {
cursor:pointer;
font-family:inherit !important;
-webkit-transition:all .25s ease-in-out;
transition:all .25s ease-in-out;
float: left;
width: 48%;
padding: 9px 5px;
border-radius:inherit !important;
font-weight: 500;
font-size: 15px;
line-height: 1.4;
color:#f8f8f8;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-buttons"] > a.confirm-button-ok {
margin:0 2% 0 0;
background:#32c682;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-buttons"] > a.confirm-button-cancel {
margin:0 0 0 2%;
background:#a9a9a9;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-buttons"] > a.full {
margin:0;
width:100%;}

[id^=NotiflixConfirmWrap] > div[class*="-content"] > div[class*="-buttons"] > a:hover {
box-shadow:inset 0 -60px 5px -5px rgba(0, 0, 0, 0.25);}
/* Notiflix: Confirm content off */

/* Notiflix: Confirm rtl on */
[id^=NotiflixConfirmWrap].rtl-on > div[class*="-content"] > div[class*="-buttons"],
[id^=NotiflixConfirmWrap].rtl-on > div[class*="-content"] > div[class*="-buttons"] > a {
-webkit-transform:rotateY(180deg);
        transform:rotateY(180deg);}
/* Notiflix: Confirm rtl off */

/* Notiflix: Confirm overlay animation => fade on */
[id^=NotiflixConfirmWrap] > div[class*="-overlay"].with-animation {
animation: confirm-overlay-animation .3s ease-in-out 0s normal;
-webkit-animation: confirm-overlay-animation .3s ease-in-out 0s normal;}

@keyframes confirm-overlay-animation {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes confirm-overlay-animation {
0% {opacity:0;}
100% {opacity:1;}
}
/* Notiflix: Confirm overlay animation => fade off */

/* Notiflix: Confirm overlay animation remove => fade on */
[id^=NotiflixConfirmWrap].remove > div[class*="-overlay"].with-animation {
opacity:0;
animation: confirm-overlay-animation-remove .3s ease-in-out 0s normal;
-webkit-animation: confirm-overlay-animation-remove .3s ease-in-out 0s normal;}

@keyframes confirm-overlay-animation-remove {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes confirm-overlay-animation-remove {
0% {opacity:1;}
100% {opacity:0;}
}
/* Notiflix: Confirm overlay animation remove => fade off */

/* Notiflix: Confirm content animation => fade on */
[id^=NotiflixConfirmWrap].with-animation.nx-fade > div[class*="-content"] {
animation: confirm-animation-fade .3s ease-in-out 0s normal;
-webkit-animation: confirm-animation-fade .3s ease-in-out 0s normal;}

@keyframes confirm-animation-fade {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes confirm-animation-fade {
0% {opacity:0;}
100% {opacity:1;}
}
/* Notiflix: Confirm content animation => fade off */

/* Notiflix: Confirm content animation => zoom on */
[id^=NotiflixConfirmWrap].with-animation.nx-zoom > div[class*="-content"] {
animation: confirm-animation-zoom .3s ease-in-out 0s normal;
-webkit-animation: confirm-animation-zoom .3s ease-in-out 0s normal;}

@keyframes confirm-animation-zoom {
0% {opacity:0; -webkit-transform:scale(0.5); transform:scale(0.5);}
50% {opacity:1; -webkit-transform:scale(1.05); transform:scale(1.05);}
100% {opacity:1; -webkit-transform:scale(1); transform:scale(1);}
}

@-webkit-keyframes confirm-animation-zoom {
0% {opacity:0; -webkit-transform:scale(0.5); transform:scale(0.5);}
50% {opacity:1; -webkit-transform:scale(1.05); transform:scale(1.05);}
100% {opacity:1; -webkit-transform:scale(1); transform:scale(1);}
}
/* Notiflix: Confirm content animation => zoom off */

/* Notiflix: Confirm content animation remove => fade on */
[id^=NotiflixConfirmWrap].with-animation.nx-fade.remove > div[class*="-content"] {
opacity:0;
animation: confirm-animation-fade-remove .3s ease-in-out 0s normal;
-webkit-animation: confirm-animation-fade-remove .3s ease-in-out 0s normal;}

@keyframes confirm-animation-fade-remove {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes confirm-animation-fade-remove {
0% {opacity:1;}
100% {opacity:0;}
}
/* Notiflix: Confirm content animation remove => fade off */

/* Notiflix: Confirm content animation remove => zoom on */
[id^=NotiflixConfirmWrap].with-animation.nx-zoom.remove > div[class*="-content"] {
opacity:0;
animation: confirm-animation-zoom-remove .3s ease-in-out 0s normal;
-webkit-animation: confirm-animation-zoom-remove .3s ease-in-out 0s normal;}

@keyframes confirm-animation-zoom-remove {
0% {opacity:1; -webkit-transform:scale(1); transform:scale(1);}
50% {opacity:0.5; -webkit-transform:scale(1.05); transform:scale(1.05);}
100% {opacity:0; -webkit-transform:scale(0); transform:scale(0);}
}

@-webkit-keyframes confirm-animation-zoom-remove {
0% {opacity:1; -webkit-transform:scale(1); transform:scale(1);}
50% {opacity:0.5; -webkit-transform:scale(1.05); transform:scale(1.05);}
100% {opacity:0; -webkit-transform:scale(0); transform:scale(0);}
}
/* Notiflix: Confirm content animation remove => zoom off */


/* Notiflix: Loading wrap on */
[id^=NotiflixLoadingWrap] {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position: fixed;
z-index: 4000;
width: 100%;
height: 100%;
left: 0;
top: 0;
right:0;
bottom:0;
margin:auto;
text-align: center;
box-sizing:border-box;
background: rgba(0, 0, 0, 0.8);
font-family: "Quicksand", sans-serif;}

[id^=NotiflixLoadingWrap] * {
box-sizing:border-box;}

[id^=NotiflixLoadingWrap].click-to-close {
cursor:pointer;}
/* Notiflix: Loading wrap off */

/* Notiflix: Loading content on */
[id^=NotiflixLoadingWrap] > div[class*="-icon"] {
width:60px;
height:60px;
position:fixed;
-webkit-transition:top .2s ease-in-out;
transition:top .2s ease-in-out;
left: 0;
top: 0;
right:0;
bottom:0;
margin:auto;}

[id^=NotiflixLoadingWrap] > div[class*="-icon"] img,
[id^=NotiflixLoadingWrap] > div[class*="-icon"] svg {
max-width:unset;
max-height:unset;
width: 100%;
height: 100%;
position:absolute;
left: 0;
top: 0;}

[id^=NotiflixLoadingWrap] > div[class*="-icon"].with-message {
top:-42px;}

[id^=NotiflixLoadingWrap] > p {
position: fixed;
left: 0;
right: 0;
top: 42px;
bottom: 0;
margin: auto;
font-family: inherit !important;
font-weight: 500;
line-height: 1.4;
padding: 0 10px;
width: 100%;
font-size:15px;
height: 18px;}
/* Notiflix: Loading content off */

/* Notiflix: Loading animation => fade on */
[id^=NotiflixLoadingWrap].with-animation {
animation: loading-animation-fade .3s ease-in-out 0s normal;
-webkit-animation: loading-animation-fade .3s ease-in-out 0s normal;}

@keyframes loading-animation-fade {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes loading-animation-fade {
0% {opacity:0;}
100% {opacity:1;}
}
/* Notiflix: Loading animation => fade off */

/* Notiflix: Loading animation remove => fade on */
[id^=NotiflixLoadingWrap].with-animation.remove {
opacity:0;
animation: loading-animation-fade-remove .3s ease-in-out 0s normal;
-webkit-animation: loading-animation-fade-remove .3s ease-in-out 0s normal;}

@keyframes loading-animation-fade-remove {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes loading-animation-fade-remove {
0% {opacity:1;}
100% {opacity:0;}
}
/* Notiflix: Loading animation remove => fade off */

/* Notiflix: Loading animation new message => fade on */
[id^=NotiflixLoadingWrap] > p.new {
animation: loading-new-message-fade .3s ease-in-out 0s normal;
-webkit-animation: loading-new-message-fade .3s ease-in-out 0s normal;}

@keyframes loading-new-message-fade {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes loading-new-message-fade {
0% {opacity:0;}
100% {opacity:1;}
}
/* Notiflix: Loading animation new message => fade off */


/* Notiflix: Block wrap on */
[id^=NotiflixBlockWrap] {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
box-sizing: border-box;
position: absolute;
z-index: 1000;
font-family: "Quicksand", sans-serif;
background: rgba(255, 255, 255, 0.9);
text-align: center;
-webkit-animation-duration: 400ms;
        animation-duration: 400ms;
width: 100%;
height: 100%;
left: 0;
top: 0;
border-radius: inherit;}

[id^=NotiflixBlockWrap] * {
box-sizing: border-box;}
/* Notiflix: Block wrap off */

/* Notiflix: Block content on */
[id^=NotiflixBlockWrap] > span[class*="-icon"] {
width: 45px;
height: 45px;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
margin: auto;}

[id^=NotiflixBlockWrap] > span[class*="-message"] {
position: absolute;
left: 0;
right: 0;
top: 50px;
bottom: 0;
margin: auto;
font-family: inherit !important;
font-weight: 500;
font-size: 14px;
line-height: 1.4;
padding: 0 10px;
width: 100%;
height: 20px;
overflow: hidden;}
/* Notiflix: Block content off */

/* Notiflix: Block animation => fade on */
[id^=NotiflixBlockWrap].with-animation {
animation: block-animation-fade .3s ease-in-out 0s normal;
-webkit-animation: block-animation-fade .3s ease-in-out 0s normal;}

@keyframes block-animation-fade {
0% {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes block-animation-fade {
0% {opacity: 0;}
100% {opacity: 1;}
}
/* Notiflix: Block animation => fade off */

/* Notiflix: Block animation remove => fade on */
[id^=NotiflixBlockWrap].with-animation.remove {
opacity: 0;
animation: block-animation-fade-remove .3s ease-in-out 0s normal;
-webkit-animation: block-animation-fade-remove .3s ease-in-out 0s normal;}

@keyframes block-animation-fade-remove {
0% {opacity: 1;}
100% {opacity: 0;}
}

@-webkit-keyframes block-animation-fade-remove {
0% {opacity: 1;}
100% {opacity: 0;}
}
/* Notiflix: Block animation remove => fade off */@charset "UTF-8";

h4,
.h4 {
  font-size: 1.125rem;
}

.font-weight-semibold {
  font-weight: 500;
}

.text-muted {
  color: #8492a6 !important;
  font-size: 13px;
}

.brround {
  border-radius: 50%;
}

.h-9 {
  height: 6rem;
}

.w-9 {
  width: 6rem;
}

label {
  font-weight: 700;
}

.flex,
.flex-start,
.flex-end {
  display: -webkit-box;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.flex-start {
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.flex-1 {
  -webkit-box-flex: 1;
          flex: 1;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.full-height-vh {
  height: 100vh;
}

.pointer,
.sidebar .sidebar-item,
.icon,
.navbar .user,
.navbar .navbar-item {
  cursor: pointer;
}

.user-select,
.icon,
.navbar .user {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box-sizing,
.icon,
.navbar .navbar-item .text,
.navbar .navbar-item {
  box-sizing: border-box;
}

.border-none {
  border: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.border-radius-circle {
  border-radius: 50%;
}

.d-table-caption {
  display: table-caption;
}

.border-color {
  border: 1px solid #ccc;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.bold {
  font-weight: 600;
}

.co-white {
  color: #fff;
}

.co-green {
  color: #269c71;
}

.co-blue {
  color: #3899ec;
}

.co-default,
.navbar .navbar-item .time-expire {
  color: #868686;
}

.co-purple,
.card .title {
  color: #556ee6;
}

.co-green {
  color: #269c71;
}

.co-red {
  color: red !important;
}

.bg-green {
  background: #269c71;
}

.text-upcase {
  text-transform: uppercase;
}

.text-size-14 {
  font-size: 14px;
}

i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hover-default,
.search-filter .list-phone-exist li:hover,
.base-table--data .list-phone-exist li:hover,
.sidebar .sidebar-item:hover,
.sidebar .sidebar-item.active,
.icon:hover,
.navbar .user .list-item-user li:hover,
.navbar .user:hover {
  background: rgba(0, 0, 0, 0.1);
}

.w-5 {
  width: 50%;
}

.break {
  width: 100%;
  height: 1px;
  background: #ddd;
}

.break-right {
  border-right: 1px solid #ddd;
}

.h-auto {
  height: auto !important;
}

.btn-primary,
.bg-primary,
.bg-site-primary {
  background: #556ee6;
  background-color: #556ee6;
}

.btn-outline-primary {
  border: 1px solid #556ee6;
  color: #556ee6;
}

.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon-spin {
  display: inline-block;
  -webkit-animation: loadingCircle 0.6s linear infinite;
          animation: loadingCircle 0.6s linear infinite;
}

.view-large {
  min-width: 300px;
}

.view-small {
  min-width: 150px;
  max-width: 150px;
  width: 150px !important;
}

.view-mini {
  min-width: 50px;
}

.view-medium {
  min-width: 200px;
  max-width: 200px;
  width: 200px !important;
}

.white-space-normal {
  white-space: normal !important;
  word-break: break-all;
}

.overflow-x-none {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #bbbbbe;
  border: solid 4px transparent;
  border-radius: 14px;
}

/* set button(top and bottom of the scrollbar) */

::-webkit-scrollbar-button {
  display: none;
}

@-webkit-keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-35 {
  font-size: 35px;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-30 {
  height: 30px !important;
  min-height: 30px;
}

.h-40 {
  height: 40px !important;
  min-height: 40px;
}

.wraper--layout {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100vh;
}

.mainbody {
  -webkit-box-flex: 1;
          flex: 1;
  overflow: hidden;
}

body {
  background: #f3f3f6;
  color: #3c4858;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

.navbar {
  padding: 0px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-pack: start;
          justify-content: flex-start;
  z-index: 999;
}

.navbar .navbar-brand {
  background-color: #fff;
  margin-right: 0px;
  width: 80px;
  min-width: 80px;
}

.navbar .navbar-menu {
  width: calc(100% - 80px);
}

.navbar .navbar-item {
  padding: 0px 8px;
  font-size: 12px;
  height: 100%;
}

.navbar .navbar-item .text {
  padding: 4px 0px 0px;
}

.navbar .user {
  font-size: 14px;
  height: 100%;
  padding: 0px 10px;
}

.navbar .user:hover .list-item-user {
  display: block;
}

.navbar .user .list-item-user {
  overflow: hidden;
  display: none;
  width: 170px;
  height: auto;
  z-index: 999;
  top: 50px;
  right: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.navbar .user .list-item-user li {
  cursor: pointer;
  color: #555;
  font-size: 14px;
  line-height: 2.5;
  padding: 0px 15px;
}

.navbar > div {
  height: 50px;
}

.sidebar-width {
  width: 80px;
  min-width: 80px;
}

.icon {
  font-size: 20px;
  height: 100%;
  padding: 4px 20px;
}

.sidebar {
  float: left;
  font-size: 13px;
}

.sidebar .sidebar-style {
  height: 100%;
}

.sidebar .first-sidemenu {
  width: 80px;
  min-width: 80px;
  height: 100%;
  color: white;
  background: linear-gradient(45deg, #33505e 0%, #4CAF50 100%);
}

.sidebar .first-sidemenu li {
  position: relative;
}

.sidebar .first-sidemenu li:hover .sidebar-menu-open {
  display: block !important;
}

.sidebar .second-sidemenu {
  width: 200px;
  min-width: 200px;
  height: 100%;
  background-color: #fff;
}

.sidebar .second-sidemenu .slide-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 7px;
  font-size: 14px;
  color: #191919;
  border-bottom: 0;
}

.sidebar .sidebar-item {
  width: 100%;
  padding: 15px 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  display: inline-block;
}

.sidebar .sidebar-item i {
  font-size: 22px;
}

.sidebar .sidebar-item div {
  margin-top: 5px;
}

.sidebar .sidebar-menu-open {
  position: absolute;
  left: 80px;
  top: 0;
  height: auto;
  display: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 99999;
  width: 235px;
  background: #407B5A;
  box-shadow: 3px 0 20px -3px rgba(0, 0, 0, 0.5);
}

.sidebar .sidebar-menu-open .menu-open__header {
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .sidebar-menu-open .menu-open__body {
  color: #f1f1f1;
  padding: 10px 20px;
  box-sizing: border-box;
}

.sidebar .sidebar-menu-open .menu-open__body li {
  padding: 5px 0px;
}

.sidebar .sidebar-menu-open .menu-open__body li i {
  margin-right: 8px;
}

.sidebar .sidebar-menu-open .menu-open__body li:hover {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .tab-menu-content {
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.main {
  width: calc(100% - 80px);
  height: 100%;
  float: right;
}

.app-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.app-content .section {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 10px;
}

.app-content .main-body {
  height: 100%;
}

.app-content .card--custom {
  min-height: 550px;
  max-height: 550px;
  overflow: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.app-content .card--custom .card-body {
  -webkit-box-flex: 1;
          flex: 1;
  overflow: auto;
}

.app-content .card-header img {
  width: 100%;
  height: 220px;
  margin: 0 auto;
  max-height: 200px;
}

.card {
  border: 0 solid #f6f6f6;
}

.card .bg-soft-primary {
  background: rgba(85, 110, 230, 0.25) !important;
}

.card .card-title {
  margin: 0;
}

.card .card-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  background: white;
}

.card.card--block-1 .profile-user-wid {
  margin-top: -30px;
  width: 72px;
  height: 72px;
}

.card .mini-stat-icon {
  width: 40px;
  height: 40px;
}

.card .avatar-title {
  -webkit-box-align: center;
          align-items: center;
  background-color: #556ee6;
  color: #fff;
  display: -webkit-box;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
}

.activity-feed {
  padding: 15px 15px 0 15px;
}

.activity-feed .feed-item {
  position: relative;
  padding-bottom: 29px;
  padding-left: 30px;
  border-left: 2px solid #e9ecef;
}

.activity-feed .feed-item:last-child {
  border-left: none;
}

.activity-feed .feed-item::after {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: -9px;
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background: #556ee6;
}

.activity-feed .feed-item .date,
.activity-feed .feed-item .name {
  display: block;
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 13px;
}

.activity-feed .feed-item .name {
  color: #696969;
  margin-right: 5px;
  font-weight: 600;
}

.activity-feed .feed-item .activity-text {
  position: relative;
  top: -3px;
}

.invalid {
  border: 1px solid red;
}

.badge {
  padding: 5px;
}

.form-control[readonly],
.form-control:disabled {
  background: #f2f3f8 !important;
}

.fa-trash-alt:hover {
  color: red;
  cursor: pointer;
}

.search-filter .title-step,
.base-table--data .title-step {
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  color: #795548;
}

.search-filter .filter-area,
.base-table--data .filter-area {
  overflow: hidden;
  border-radius: 5px;
}

.search-filter .filter-item,
.base-table--data .filter-item {
  background-color: #fff;
  min-height: 220px;
  max-height: 245px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-right: 1px dashed #ccc;
}

.search-filter .filter-item:last-child,
.base-table--data .filter-item:last-child {
  border-right: none;
}

.search-filter .filter-item li label,
.base-table--data .filter-item li label {
  margin-left: 7px;
}

.search-filter .filter-item .title,
.base-table--data .filter-item .title {
  line-height: 24px;
  font-size: 12px;
  color: #4b4f56;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeef), color-stop(0, #e9e9e9));
  background: linear-gradient(#eeeeef 50%, #e9e9e9 0);
  border-bottom: 0;
}

.search-filter .filter-item .item-search,
.base-table--data .filter-item .item-search {
  padding: 5px;
  overflow: auto;
  height: 100%;
}

.search-filter .filter-item .item-search-ship .checkbox_acount,
.base-table--data .filter-item .item-search-ship .checkbox_acount {
  width: 100%;
}

.search-filter .filter-item .checkbox_acount .label-checkbox,
.base-table--data .filter-item .checkbox_acount .label-checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.search-filter .filter-item .checkbox_acount .label-checkbox:hover,
.base-table--data .filter-item .checkbox_acount .label-checkbox:hover {
  color: #556ee6;
}

.search-filter .filter-item .item-filter-radio,
.base-table--data .filter-item .item-filter-radio {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.search-filter .filter-item .item-filter-radio li,
.base-table--data .filter-item .item-filter-radio li {
  width: 50%;
  position: relative;
  padding: 4px;
  padding-left: 20px;
}

.search-filter .filter-item input[type=checkbox],
.search-filter .filter-item input.custom-css,
.base-table--data .filter-item input[type=checkbox],
.base-table--data .filter-item input.custom-css {
  position: absolute;
  margin-left: -20px;
  height: 24px;
  font-size: 12px;
  display: none;
}

.search-filter .filter-item input[type=checkbox]:checked + label:after,
.search-filter .filter-item input.custom-css:checked + label:after,
.base-table--data .filter-item input[type=checkbox]:checked + label:after,
.base-table--data .filter-item input.custom-css:checked + label:after {
  content: "\F00C";
  display: inline-block;
  font-size: 12px;
  font-family: Font Awesome\ 5 Pro;
  color: #3cbcb3;
  position: absolute;
  top: 9px;
  left: 5px;
}

.search-filter .item-phone-exist:hover .list-phone-exist,
.base-table--data .item-phone-exist:hover .list-phone-exist {
  display: block;
}

.search-filter .list-phone-exist,
.base-table--data .list-phone-exist {
  top: 22px;
  right: -80px;
  width: 200px;
  max-height: 200px;
  overflow: auto;
  display: none;
  height: auto;
  z-index: 999;
  color: #555;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.search-filter .list-phone-exist li,
.base-table--data .list-phone-exist li {
  cursor: pointer;
  color: #555;
  line-height: 2.1;
  padding: 5px 15px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4.2em;
  line-height: 2.1em;
}

.search-filter .list-phone-exist .title,
.base-table--data .list-phone-exist .title {
  color: red;
  line-height: 2.1;
  padding: 5px 15px;
}

.search-filter .list-item-order input[type=checkbox]:checked + label:after,
.base-table--data .list-item-order input[type=checkbox]:checked + label:after {
  content: "\F00C";
  display: inline-block;
  font-size: 12px;
  font-family: Font Awesome\ 5 Pro;
  color: #3cbcb3;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search-filter .label-checkbox,
.base-table--data .label-checkbox {
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 0;
}

.search-filter .label-checkbox::before,
.base-table--data .label-checkbox::before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #b5b5b5;
  content: "";
  position: absolute;
  left: 3px;
  top: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-filter .base-table-item--checkbox::before,
.base-table--data .base-table-item--checkbox::before {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list-source {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeef), color-stop(0, #e9e9e9));
  background: linear-gradient(#eeeeef 50%, #e9e9e9 0);
  color: #333333;
  font-size: 13px;
}

.list-source .list-source--item a {
  display: block;
  padding: 9px 20px;
  box-sizing: border-box;
}

.list-source .list-source--item i {
  margin-right: 5px;
}

.list-source .list-source--item.active {
  background: #fff;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.base-table-layout {
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  box-sizing: border-box;
  height: 100%;
}

.base-table-layout.border-top {
  border-top: 1px solid #ddd;
}

.base-table-layout .base-table--filter {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.base-table-layout .panel-heading-left {
  display: inline-block;
  padding-right: 10px;
  border-right: 1px solid #ddd;
}

.base-table-layout .panel-heading-left:last-child {
  border-right: none;
}

.base-table-layout .search {
  padding: 0px 10px;
  height: 30px;
}

.base-table-layout .assign-order--layout {
  top: 37px;
  left: 0;
}

.parent-list-dropdown,
.base-table-layout .assign-order--layout {
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  z-index: 99;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.list-menu-dropdown,
.base-table-layout .assign-order--layout .list {
  width: 100%;
  height: auto;
  max-height: 300px;
  z-index: 999;
  overflow-y: auto;
}

.list-menu-dropdown li,
.base-table-layout .assign-order--layout .list li {
  padding: 8px 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: list-item;
}

.list-menu-dropdown li:hover,
.base-table-layout .assign-order--layout .list li:hover {
  background: rgba(0, 0, 0, 0.075);
}

.list-menu-dropdown li .icon-check,
.base-table-layout .assign-order--layout .list li .icon-check {
  display: none;
}

.list-menu-dropdown li[data-selected=true] .icon-check,
.base-table-layout .assign-order--layout .list li[data-selected=true] .icon-check {
  display: block;
}

.base-table--data tr th {
  border-bottom: 1px solid #dde1e3;
  background: #fbfbfb;
  overflow: initial;
  padding: 6px 10px;
}

.base-table--data tr th:first-child {
  border: none;
  width: 70px;
}

.base-table--data tr th,
.base-table--data tr td {
  font-size: 13px;
  line-height: 19px;
  white-space: nowrap;
  color: #666;
  position: relative !important;
  font-weight: 500;
  border-left: 1px solid #dde1e3;
}

.base-table--data tr td {
  padding: 10px;
  border-top: 1px solid #dde1e3;
  box-sizing: border-box;
}

.base-table--data tr td:first-child {
  border-left: none;
  width: 70px;
  min-width: 70px;
}

.base-table--data tr .merge th {
  border-left: 1px solid #dde1e3;
}

.base-table--data tr:last-child {
  border-bottom: 1px solid #dde1e3;
}

.base-table--data tr .user--reciver {
  font-size: 10px;
  padding: 1px 4px;
  background: #407B5A;
  color: white;
  border-radius: 5px;
}

.base-table--data tr[data-selected=true] {
  background: antiquewhite;
}

.base-table--data .sub-header th {
  padding: 10px;
}

.paginate {
  padding: 12px 9px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
}

.paginate .pagination {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.shadow,
.base-table {
  box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
}

.input-control {
  font-size: 13px;
  line-height: 1.53846;
  color: #333333;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 7px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  -webkit-border-image: initial;
       -o-border-image: initial;
          border-image: initial;
  border-radius: 3px;
  width: 100%;
}

.order-detail--item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-right: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.order-detail--item:last-child {
  border-right: none;
}

.order-detail__title {
  line-height: 24px;
  font-size: 13px;
  color: #4b4f56;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeef), color-stop(0, #e9e9e9));
  background: linear-gradient(#eeeeef 50%, #e9e9e9 0);
  border-bottom: 0;
}

.order-detail__body {
  -webkit-box-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.order-detail__custom .list-source--item:first-child.active {
  border-left: none !important;
}

.order-detail__body {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.order-detail__body input.form-control,
.order-detail__body textarea.form-control,
.order-detail__body select.form-control {
  background: #fcfcfc;
  font-size: 15px;
  outline: none;
}

.order-detail__body .option-status-order {
  border-radius: 5px;
}

.order-detail__body .feed-item-list .name {
  font-size: 12px;
}

.order-detail__body .feed-item-list .date {
  font-size: 12px;
}

.order-detail__body .feed-item {
  border-width: 1px;
}

.order-detail__body .feed-item:last-child {
  border: none;
}

.order-detail__body .option__item {
  padding: 6px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.order-detail__body .option__item.cancel {
  background-color: #fd3550;
}

.order-detail__body .option__item.wait {
  background-color: #ff9700;
}

.order-detail__body .option__item.success {
  background-color: #15ca20;
}

.order-detail__body .form-group {
  color: rgba(0, 0, 0, 0.62);
}

.ship .form-group {
  margin-bottom: 0.5rem;
}

.ship .form-control {
  font-size: 12px;
}

.ship td {
  text-align: left;
  padding: 8px 5px;
  font-size: 15px;
}

.ship .input-group-text {
  width: 150px;
}

.ship .list--filter-search {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.ship .list--filter-search ul {
  width: 100%;
  min-height: 300px;
  height: 300px;
  overflow-y: auto;
}

.ship .list--filter-search ul li {
  padding: 8px 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: list-item;
}

.ship .list--filter-search ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

.table-proccessing {
  background: #d1ecf1;
}

.reason-style {
  padding: 3px 7px;
  border-radius: 15px;
  font-size: 12px;
}

.text-bold {
  font-weight: 600;
}

.row--custom {
  padding: 0px 15px;
}

.col--custom {
  padding: 0px;
}

.border {
  border: 1px solid #ddd;
}

.lading .base-table--filter {
  border-top: 1px solid #ddd;
}

.lading .filter-item {
  min-height: 190px;
  max-height: 190px;
}

.lading .th-typeview-address {
  min-width: 330px;
}

.lading .td-typeview-address {
  max-width: 380px;
  word-wrap: break-word;
  white-space: normal;
}

.setting-group.setting-group--layout {
  padding: 0px 15px;
}

.setting-group .setting-group__item {
  border-right: 1px dashed #ccc;
}

.setting-group .setting-group__item:last-child {
  border-right: none;
}

.setting-group .group__title {
  line-height: 24px;
  font-size: 13px;
  color: #4b4f56;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeef), color-stop(0, #e9e9e9));
  background: linear-gradient(#eeeeef 50%, #e9e9e9 0);
  border-bottom: 0;
}

.setting-group .group__body .card {
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.setting-group .group__body .card:hover,
.setting-group .group__body .card.active {
  background: aliceblue;
}

.setting-group .btn-add-group:hover {
  cursor: pointer;
  background: #fff;
  border-color: #269c71;
  color: #269c71;
}

.setting-group .table__list td {
  font-size: 14px;
  border-top: 1px dashed #dee2e6;
}

.setting-group .btn {
  cursor: pointer;
}

.main.main--layout {
  min-height: 100vh;
}

.main .layout__bg-wrapper {
  background-image: url("/assets/site/theme/images/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#headerTable thead {
  border-top: 1px solid #ddd;
}

body .filepond--root {
  margin-bottom: 0px;
}

