@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Regular.eot');
    src: url('/fonts/SFMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFMono-Regular.woff2') format('woff2'),
        url('/fonts/SFMono-Regular.woff') format('woff'),
        url('/fonts/SFMono-Regular.ttf') format('truetype'),
        url('/fonts/SFMono-Regular.svg#SFMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Medium.eot');
    src: url('/fonts/SFMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFMono-Medium.woff2') format('woff2'),
        url('/fonts/SFMono-Medium.woff') format('woff'),
        url('/fonts/SFMono-Medium.ttf') format('truetype'),
        url('/fonts/SFMono-Medium.svg#SFMono-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Semibold.eot');
    src: url('/fonts/SFMono-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFMono-Semibold.woff2') format('woff2'),
        url('/fonts/SFMono-Semibold.woff') format('woff'),
        url('/fonts/SFMono-Semibold.ttf') format('truetype'),
        url('/fonts/SFMono-Semibold.svg#SFMono-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Bold.eot');
    src: url('/fonts/SFMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFMono-Bold.woff2') format('woff2'),
        url('/fonts/SFMono-Bold.woff') format('woff'),
        url('/fonts/SFMono-Bold.ttf') format('truetype'),
        url('/fonts/SFMono-Bold.svg#SFMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText-Regular.eot');
    src: url('/fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProText-Regular.woff2') format('woff2'),
        url('/fonts/SFProText-Regular.woff') format('woff'),
        url('/fonts/SFProText-Regular.ttf') format('truetype'),
        url('/fonts/SFProText-Regular.svg#SFProText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText-Semibold.eot');
    src: url('/fonts/SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProText-Semibold.woff2') format('woff2'),
        url('/fonts/SFProText-Semibold.woff') format('woff'),
        url('/fonts/SFProText-Semibold.ttf') format('truetype'),
        url('/fonts/SFProText-Semibold.svg#SFProText-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText-Medium.eot');
    src: url('/fonts/SFProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProText-Medium.woff2') format('woff2'),
        url('/fonts/SFProText-Medium.woff') format('woff'),
        url('/fonts/SFProText-Medium.ttf') format('truetype'),
        url('/fonts/SFProText-Medium.svg#SFProText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText-Bold.eot');
    src: url('/fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFProText-Bold.woff2') format('woff2'),
        url('/fonts/SFProText-Bold.woff') format('woff'),
        url('/fonts/SFProText-Bold.ttf') format('truetype'),
        url('/fonts/SFProText-Bold.svg#SFProText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}