@import "./responsive";
@import "./fonts";
@import "./variables";
@import "./pages/layout";
@import "./pages/home";
@import "./pages/order";
@import "./pages/lading";
@import "./pages/setting";
@import "./auth/login";
@import "./pages/user";
@import "./pages/store";
@import "./pages/thirdparty";
@import "../css/notiflix-2.1.2.css";

// welcome page
@import "./pages/welcome/style";