$primary-color: #556ee6;
$sidebar-width: 80px;
$first-menu-width: 80px;
$navbar-height: 50px;
$box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
$green: #269c71;
$fz-primary: 13px;
$text-color-primary: #3c4858;