
body {
  background-color: #eee;
  color: $text-color-primary;
  font-size: $fz-primary;
  font-family: 'Roboto', sans-serif;
}


.navbar {
  padding: 0px;
  background-color: white;
  box-shadow: $box-shadow;
  justify-content: flex-start;
  .navbar-brand {
    background-color: #e5e5e5;
    margin-right: 0px;
    width: $first-menu-width;
    min-width: $first-menu-width;
  }
  .navbar-menu {
    width: calc(100% - #{$first-menu-width});
  }
  .navbar-item {
    padding: 0px 8px;
    font-size: 12px;
    height: 100%;
    @extend .box-sizing;
    @extend .pointer;
    .text {
      padding: 2px 0px;
      @extend .box-sizing;
    }
    .time-expire {
      @extend .co-default;
    }
  }
  .user {
    font-size: 14px;
    height: 100%;
    padding: 0px 10px;
    @extend .user-select;
    @extend .pointer;
    &:hover {
      @extend .hover-default;
    }
  }
  & > div {
    height: $navbar-height;
  }
}

.sidebar-width {
  width: $sidebar-width;
  min-width: $sidebar-width;
}

#logo {
  background-image: url(https://vtask.net/img/vtask-logo-app.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: cover;
  align-self: center;
}

.icon {
  font-size: 20px;
  height: 100%;
  padding: 4px 20px;
  @extend .box-sizing;
  @extend .user-select;
  @extend .pointer;
  &:hover {
    @extend .hover-default;
  }
}

.sidebar {
  float: left;
  font-size: $fz-primary;

  .sidebar-style {
    height: 100%;
  }
  .first-sidemenu {
    width: $first-menu-width;
    min-width: $first-menu-width;
    height: 100%;
    color: white;
    background: linear-gradient(#0cb3ff, #0084D1)
  }
  .second-sidemenu {
    width: 200px;
    min-width: 200px;
    height: 100%;
    background-color: #fff;
    .slide-item {
      display: flex;
      align-items: center;
      padding: 7px;
      font-size: 14px;
      color: #191919;
      border-bottom: 0;
    }
  }
  .sidebar-item {
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    display: inline-block;
    @extend .pointer;
    i {
      font-size: 28px;
    }
    div {
      margin-top: 5px;
    }
    &:hover {
      @extend .hover-default;
    }
  }

  .tab-menu-content {
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
  }
}

main {
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
  height: 100%;
  float: right;
}

.app-content {
  height: calc(100vh - #{$navbar-height});
  box-sizing: border-box;
  .section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px;
  }
  .main-body {
    height: calc(100vh - #{$navbar-height} - 100px);
    overflow: auto;
  }
  .card-header {
    img {
      width: 100%;
      height: 220px;
      margin: 0 auto;
      max-height: 200px;
    }
  }
  .card-body {
    padding: 10px 15px;
    .badge {
      font-size: 100%;
    }
  }
}

.card {
  .card-header {
    background: none;
  }
  .card-title {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #212229;
    &:only-child {
      margin-bottom: 0px;
    }
  }
}




